@media (max-width: 1150px) {

	.testbtn {
		display: inline-block;
		margin: 20px;
		width: 100px;
		height: 100px;
		background-color: #eee;
	}

	.testover {
		display: none;
		background: #000;
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		opacity: 0.2;
		z-index: 1000;
	}

	.wrapper-kit {
		position: relative;
		display: flex;
		max-height: 1600px;
		height: auto;
		width: 100%;
		background-color: #aaa;
		margin: 50px auto auto;
		flex-wrap: wrap;
	}

	.item-name {
		display: none;
	}

	.menu-kit {
		display: inline-block;
		height: 300px;
		width: 100%;
		max-width: 100%;
		background-color: #cdc;
		/* margin-left: 0; */
	}

	.models-kit {
		display: none;
		position: fixed;
		z-index: 10000;
		width: 90vw;
		height: 50vh;
		top: 50%;
		left: 50%;
		margin-right: -50%;
		transform: translate(-50%, -50%);
		/* display: none; */
	}

	.facingOut-kit {
		display: none;
		position: fixed;
		z-index: 10000;
		width: 90vw;
		height: 50vh;
		top: 50%;
		left: 50%;
		margin-right: -50%;
		transform: translate(-50%, -50%);
	}

	.facingIn-kit {
		display: none;
		position: fixed;
		z-index: 10000;
		width: 90vw;
		height: 50vh;
		top: 50%;
		left: 50%;
		margin-right: -50%;
		transform: translate(-50%, -50%);
	}

	.knob-kit {
		display: none;
		position: fixed;
		z-index: 10000;
		width: 90vw;
		height: 50vh;
		top: 50%;
		left: 50%;
		margin-right: -50%;
		transform: translate(-50%, -50%);
	}

	.result-kit {
		position: relative;
		display: flex;
		min-height: 100px;
		height: 100%;
		width: 100%;
		background-color: #ddd;
		margin: auto 0 auto auto;
		flex-wrap: wrap;
	}


	.result-box {
		display: flex;
		height: auto;
		/* height: 90%; */
		width: 100%;
	}

	.result-box::after {
		content: '';
		display: block;
		padding-top: 100%;
	}

	.resultOut-kit {
		position: relative;
		display: inline-block;
		height: 100%;
		width: 52%;
		background-color: #777;
		/* background-color: #fff; */
		margin: auto;
		/* margin-left: 5%; */
	}

	.resultOut-item {
		/* margin: 20% auto auto 9%; */
		height: auto;
		width: 83%;
		position: absolute;
		display: none;
		top: 50%;
		left: 50%;
		margin-right: -50%;
		transform: translate(-50%, -50%);
	}

	.resultIn-kit {
		position: relative;
		display: inline-block;
		height: 100%;
		width: 48%;
		background-color: #888;
		/* background-color: #fff; */
		margin: auto;
		/* margin-left: 5%; */
	}

	.select-side__btns {
		display: flex;
		width: 100%;
		height: 100px;
	}

	.select-side__btn {
		display: inline-flex;
		margin: auto;
		width: 200px;
		height: 60px;
		background-color: #fff;
		cursor: pointer;
	}

	.none {
		display: none;
	}

	.block {
		display: block;
	}

	.flex {
		display: flex;
	}
}