body,
html {
	margin: 0;
	padding: 0;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

.wrapper-kit {
	position: relative;
	display: flex;
	height: 800px;
	width: 1200px;
	background-color: #aaa;
	margin: 50px auto auto;
}

.menu-kit {
	display: inline-block;
	height: 100%;
	width: 40%;
	background-color: #ccc;
	margin-left: 0;
}

.models-kit {
	display: flex;
	height: 20%;
	width: 100%;
	background-color: #cc7;
}

.modelsOut__item {
	margin: 10px;
	background-color: #fff;
	height: calc(100%-10px);
	width: 33.3%;
}

.facingOut-kit {
	height: 20%;
	width: 100%;
	margin-top: 40px;
	background-color: #cb4;
	padding: 5px;
	overflow-y: scroll;
	display: flex;
	flex-wrap: wrap;
	/* display: grid;
	grid-template-columns: repeat(5, 80px);
	grid-template-rows: repeat(7, 80px); */
}

.facingOut__item {
	height: 80px;
	width: 80px;
	margin: 5px;
	background-color: #fff;
}

.facingIn-kit {
	height: 20%;
	width: 100%;
	margin-top: 40px;
	background-color: #cb4;
	padding: 5px;
	overflow-y: scroll;
	display: flex;
	flex-wrap: wrap;
	/* display: grid;
	grid-template-columns: repeat(5, 80px);
	grid-template-rows: repeat(7, 80px); */
}

.facingIn__item {
	height: 80px;
	width: 80px;
	margin: 5px;
	background-color: #fff;
}

.knob-kit {
	display: flex;
	height: 20%;
	width: 100%;
	margin-top: 40px;
	background-color: #ca7;
	padding: 10px;
}

.knob__item {
	margin: 5px 10px;
	background-color: #fff;
	height: calc(100%-10px);
	width: 33.3%;
}



.result-kit {
	display: flex;
	height: 100%;
	width: 55%;
	background-color: #ddd;
	margin: auto 0 auto auto;
}

.resultOut-kit {
	position: relative;
	display: inline-block;
	height: 100%;
	width: 50%;
	background-color: #777;
	margin: auto;
	/* margin-left: 5%; */
}

.resultIn-kit {
	position: relative;
	display: inline-block;
	height: 100%;
	width: 50%;
	background-color: #777;
	margin: auto;
	/* margin-left: 5%; */
}

/* .facing-result-box {
	height: 100%;
} */

.result-item {
	margin: 20% auto auto 8%;
	height: 80%;
	width: auto;
	position: absolute;
	display: none;
}

.modelsOut-result {
	z-index: 100;
}

.facingOut-result {
	z-index: 10;
}

.knobOut-result {
	z-index: 100;
}

.border {
	border: 3px solid red;
}

.none {
	display: none;
}

.block {
	display: block;
}